.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 0px;
}
.freeBox__rpekh {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  width: 100%;
  align-content: unset;
  background: url("https://studio.plasmic.app/static/img/placeholder.png");
  height: auto;
  align-self: center;
  margin-bottom: -17px;
  pointer-events: none;
  cursor: not-allowed;
  min-width: 0;
  padding: 1px 32px 300px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__rpekh {
    padding: 6px 20px 85px;
  }
}
.freeBox__o3P8N {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;
  min-width: 0;
  padding: 26px 16px 16px;
}
.freeBox__o3P8N > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__o3P8N > :global(.__wab_flex-container) > *,
.freeBox__o3P8N > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__o3P8N > :global(.__wab_flex-container) > picture > img,
.freeBox__o3P8N
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__o3P8N {
    width: 100%;
    min-width: 0;
    padding: 15px 0px 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__o3P8N > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.img__j0Ka2 {
  object-fit: cover;
  width: 170px;
  height: 170px;
  flex-shrink: 0;
}
.img__j0Ka2 > picture > img {
  object-fit: cover;
}
.img__j0Ka2 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__j0Ka2 {
    width: 130px;
    height: 130px;
    flex-shrink: 0;
  }
}
.freeBox__a6XfN {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  max-width: 1080px;
  padding-right: 0px;
  margin-right: 0px;
  margin-left: calc(0px + 16px) !important;
  padding-left: 0px;
  align-self: auto;
  min-width: 0;
}
.freeBox__a6XfN > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-content: stretch;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__a6XfN > :global(.__wab_flex-container) > *,
.freeBox__a6XfN > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__a6XfN > :global(.__wab_flex-container) > picture > img,
.freeBox__a6XfN
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__a6XfN {
    display: flex;
    flex-direction: column;
    margin-left: calc(0px + 16px) !important;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__a6XfN > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__a6XfN > :global(.__wab_flex-container) > *,
  .freeBox__a6XfN > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__a6XfN > :global(.__wab_flex-container) > picture > img,
  .freeBox__a6XfN
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.text__i2SYa {
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
  line-height: 26px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.text___1IRsk {
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
  line-height: 26px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.text___0V7It {
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
  line-height: 26px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.text__v9FkM {
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
  line-height: 26px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.text___4L1Qj {
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
  line-height: 26px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.freeBox__tTblL {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.button__ct66G {
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
  font-weight: 500;
  background: #000000d9;
  border-radius: 6px;
  border-width: 0px;
}
.link__uUhHu {
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 10px 16px;
  border: 1px solid transparent;
}
.link__uUhHu > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__uUhHu > :global(.__wab_flex-container) > *,
.link__uUhHu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__uUhHu > :global(.__wab_flex-container) > picture > img,
.link__uUhHu
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__rbpHq {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__t3Wv {
  font-weight: 400;
  color: #05050599;
  font-size: 18px;
  line-height: 26px;
}
.svg__as1Cb {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.foreground2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1080px;
  align-self: auto;
  height: 100%;
  margin-top: 0px;
  padding-top: 0px;
  min-width: 0;
  min-height: 0;
}
.foreground2 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  align-content: stretch;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.foreground2 > :global(.__wab_flex-container) > *,
.foreground2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground2 > :global(.__wab_flex-container) > picture > img,
.foreground2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .foreground2 {
    padding-top: 0px;
  }
}
.freeBox__wzUpw {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 689px;
  height: auto;
  max-width: 100%;
  margin-top: calc(0px + 32px) !important;
  background: none;
  padding: 0px 30px 14px;
  border: 1px solid #cccccc57;
}
.freeBox__wzUpw > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__wzUpw > :global(.__wab_flex-container) > *,
.freeBox__wzUpw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wzUpw > :global(.__wab_flex-container) > picture > img,
.freeBox__wzUpw
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__wzUpw {
    margin-top: calc(25px + 32px) !important;
    padding: 0px 20px 20px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__wzUpw > :global(.__wab_flex-container) {
    align-items: center;
    justify-content: flex-start;
  }
}
.h1 {
  max-width: none;
  width: 100%;
  background: none;
  text-align: center;
  color: var(--token-3uxlGm60Q);
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h1 {
    padding-top: 0px;
    font-size: 28px;
    padding-bottom: 4px;
  }
}
.span {
  color: var(--token-Dx69yKCplk2F);
}
.text___6GcIt {
  font-size: 20px;
  font-weight: 600;
  color: var(--token-Dx69yKCplk2F);
  text-align: center;
  text-transform: uppercase;
  line-height: 1.3;
  letter-spacing: 2px;
  max-width: none;
  width: 100%;
  background: none;
  margin-top: calc(0px + 20px) !important;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___6GcIt {
    font-size: 16px;
    margin-top: calc(0px + 20px) !important;
  }
}
.youTube:global(.__wab_instance) {
  width: 640px;
  height: 390px;
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  flex-shrink: 0;
}
.freeBox__ytWvf {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #7f7f80;
  margin-top: calc(0px + 0px) !important;
  min-width: 0;
  padding: 68px 8px 17px;
}
.freeBox__b1CBg {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 1200px;
  min-width: 0;
  padding: 8px 8px 34px;
}
.freeBox__qyaYg {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__gMJdY {
  font-size: 20px;
  font-weight: 600;
  color: var(--token-Dx69yKCplk2F);
  text-align: center;
  text-transform: uppercase;
  line-height: 1.3;
  letter-spacing: 2px;
  max-width: none;
  width: 100%;
  background: none;
  min-width: 0;
  padding: 0px 0px 4px;
}
.h2__s5U4A {
  max-width: none;
  width: 100%;
  background: none;
  text-align: center;
  color: var(--token-3uxlGm60Q);
  min-width: 0;
  padding: 7px 0px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2__s5U4A {
    font-size: 28px;
  }
}
.section__avMl9 {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: unset;
  background: none;
  width: 100%;
  margin-top: 10px;
  min-width: 0;
  padding: 37px 0px 58px;
}
.foreground {
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: 960px;
  width: 100%;
  min-width: 0;
}
.foreground > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.foreground > :global(.__wab_flex-container) > *,
.foreground > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground > :global(.__wab_flex-container) > picture > img,
.foreground
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.freeBox__nWmLa {
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: 960px;
}
.freeBox__nWmLa > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__nWmLa > :global(.__wab_flex-container) > *,
.freeBox__nWmLa > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nWmLa > :global(.__wab_flex-container) > picture > img,
.freeBox__nWmLa
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.freeBox__c4Zvh {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__c4Zvh > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
}
.freeBox__c4Zvh > :global(.__wab_flex-container) > *,
.freeBox__c4Zvh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__c4Zvh > :global(.__wab_flex-container) > picture > img,
.freeBox__c4Zvh
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__c4Zvh > :global(.__wab_flex-container) {
    flex-wrap: wrap;
    align-items: stretch;
    margin-top: calc(0px - 30px);
    height: calc(100% + 30px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__c4Zvh > :global(.__wab_flex-container) > *,
  .freeBox__c4Zvh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__c4Zvh > :global(.__wab_flex-container) > picture > img,
  .freeBox__c4Zvh
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 30px;
  }
}
.freeBox__yg6Mn {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__yg6Mn > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__yg6Mn > :global(.__wab_flex-container) > *,
.freeBox__yg6Mn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__yg6Mn > :global(.__wab_flex-container) > picture > img,
.freeBox__yg6Mn
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
  margin-top: 12px;
}
.freeBox__r6CyV {
  background: var(--token-Dx69yKCplk2F);
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-bottom: 10px;
  border-radius: 8px;
  padding: 8px;
}
.svg__kFkA2 {
  object-fit: cover;
  width: 50px;
  height: 50px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox__l05Bu {
  background: #0000001a;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  border-radius: 8px;
  padding: 8px;
}
.svg__r33LW {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox___2Up9A {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox___2Up9A > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox___2Up9A > :global(.__wab_flex-container) > *,
.freeBox___2Up9A > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___2Up9A > :global(.__wab_flex-container) > picture > img,
.freeBox___2Up9A
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.h3__tlM7D {
  margin-top: calc(0px + 4px) !important;
  text-align: center;
  color: #e5dede;
}
.text__riPlN {
  padding-top: 0px;
  text-align: center;
  color: var(--token-pL8y_AwGMX1d);
}
.freeBox__dmTiR {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__dmTiR > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__dmTiR > :global(.__wab_flex-container) > *,
.freeBox__dmTiR > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__dmTiR > :global(.__wab_flex-container) > picture > img,
.freeBox__dmTiR
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
  margin-top: 12px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__dmTiR > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 4px);
    height: calc(100% + 4px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__dmTiR > :global(.__wab_flex-container) > *,
  .freeBox__dmTiR > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__dmTiR > :global(.__wab_flex-container) > picture > img,
  .freeBox__dmTiR
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 4px;
  }
}
.freeBox__ebrjg {
  background: var(--token-Dx69yKCplk2F);
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-bottom: 10px;
  border-radius: 8px;
  padding: 8px;
}
.svg__njv7V {
  object-fit: cover;
  width: 50px;
  height: 50px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox__cqLok {
  background: #0000001a;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  border-radius: 8px;
  padding: 8px;
}
.svg___5DjMj {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox__uikRn {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__uikRn > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__uikRn > :global(.__wab_flex-container) > *,
.freeBox__uikRn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__uikRn > :global(.__wab_flex-container) > picture > img,
.freeBox__uikRn
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.h3__vtPbt {
  text-align: center;
  color: #e5dede;
}
.text__kfBnQ {
  padding-top: 0px;
  text-align: center;
  color: var(--token-pL8y_AwGMX1d);
}
.freeBox___8EUd1 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox___8EUd1 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox___8EUd1 > :global(.__wab_flex-container) > *,
.freeBox___8EUd1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___8EUd1 > :global(.__wab_flex-container) > picture > img,
.freeBox___8EUd1
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
  margin-top: 12px;
}
.freeBox___7HqDo {
  background: var(--token-Dx69yKCplk2F);
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-bottom: 10px;
  border-radius: 8px;
  padding: 8px;
}
.svg__j3MTu {
  object-fit: cover;
  width: 50px;
  height: 50px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox__c99Iu {
  background: #0000001a;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  border-radius: 8px;
  padding: 8px;
}
.svg__jubcz {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox__fSrHn {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__fSrHn > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__fSrHn > :global(.__wab_flex-container) > *,
.freeBox__fSrHn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fSrHn > :global(.__wab_flex-container) > picture > img,
.freeBox__fSrHn
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.h3___5TkWj {
  text-align: center;
  color: #e5dede;
}
.text__yEzKd {
  padding-top: 0px;
  text-align: center;
  color: var(--token-pL8y_AwGMX1d);
}
.freeBox__ljn0J {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: linear-gradient(#000000e8, #000000e8),
    url("./images/pexelsSolomanSoh1492232Jpg.jpg") top 50% left 50% / cover repeat fixed;
  margin-top: calc(0px + 0px) !important;
  min-width: 0;
  padding: 0px 8px 30px;
}
.freeBox__kI8D {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 1200px;
  min-width: 0;
  padding: 8px 8px 34px;
}
.freeBox__jlgZm {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 74px 8px 8px;
}
.text__irJeP {
  font-size: 20px;
  font-weight: 600;
  color: var(--token-Dx69yKCplk2F);
  text-align: center;
  text-transform: uppercase;
  line-height: 1.3;
  letter-spacing: 2px;
  max-width: none;
  width: 100%;
  background: none;
  min-width: 0;
  padding: 0px 0px 4px;
}
.h2__zBw87 {
  max-width: none;
  width: 100%;
  background: none;
  text-align: center;
  color: var(--token-pL8y_AwGMX1d);
  min-width: 0;
  padding: 0px;
}
.section__rSjVo {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: unset;
  background: none;
  width: 100%;
  margin-top: 10px;
  min-width: 0;
  padding: 37px 0px 58px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__rSjVo {
    flex-wrap: wrap;
    align-items: unset;
    padding-top: 0px;
    padding-bottom: 26px;
  }
}
.foreground3 {
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: 960px;
  width: 100%;
  min-width: 0;
}
.foreground3 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.foreground3 > :global(.__wab_flex-container) > *,
.foreground3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground3 > :global(.__wab_flex-container) > picture > img,
.foreground3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.freeBox__vL6Or {
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: 960px;
}
.freeBox__vL6Or > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__vL6Or > :global(.__wab_flex-container) > *,
.freeBox__vL6Or > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vL6Or > :global(.__wab_flex-container) > picture > img,
.freeBox__vL6Or
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.freeBox__it5RP {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__it5RP > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
}
.freeBox__it5RP > :global(.__wab_flex-container) > *,
.freeBox__it5RP > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__it5RP > :global(.__wab_flex-container) > picture > img,
.freeBox__it5RP
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__it5RP > :global(.__wab_flex-container) {
    flex-wrap: wrap;
    align-items: stretch;
  }
}
.freeBox__kn819 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__kn819 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.freeBox__kn819 > :global(.__wab_flex-container) > *,
.freeBox__kn819 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kn819 > :global(.__wab_flex-container) > picture > img,
.freeBox__kn819
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
  margin-top: 0px;
}
.freeBox__elPf4 {
  background: #0000001a;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-bottom: 1px;
  border-radius: 8px;
  padding: 0px;
}
.img__ry58J {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__ry58J > picture > img {
  object-fit: cover;
}
.img__ry58J > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__utWd4 {
  background: #0000001a;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  border-radius: 8px;
  padding: 8px;
}
.svg__jBwEw {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox__kbPnh {
  display: flex;
  position: relative;
  flex-direction: column;
  background: var(--token-pL8y_AwGMX1d);
  padding: 30px 15px;
  border-bottom: 5px solid var(--token-Dx69yKCplk2F);
}
.freeBox__kbPnh > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.freeBox__kbPnh > :global(.__wab_flex-container) > *,
.freeBox__kbPnh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kbPnh > :global(.__wab_flex-container) > picture > img,
.freeBox__kbPnh
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.h3__eGpF0 {
  margin-top: calc(0px + 10px) !important;
  padding-top: 0px;
  color: var(--token-Dx69yKCplk2F);
}
.text__ot12W {
  padding-top: 0px;
  margin-bottom: 0px;
}
.freeBox___9SYkB {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 150px;
  height: auto;
  max-width: 100%;
  margin-top: calc(14px + 10px) !important;
  padding: 0px;
}
.button__gyTt6:global(.__wab_instance) {
  max-width: none;
}
.svg__zrZjw {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__elvJa {
  text-transform: uppercase;
  color: var(--token-pL8y_AwGMX1d);
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 14px;
}
.svg__cnkzX {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.freeBox__yczmo {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__yczmo > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.freeBox__yczmo > :global(.__wab_flex-container) > *,
.freeBox__yczmo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__yczmo > :global(.__wab_flex-container) > picture > img,
.freeBox__yczmo
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
  margin-top: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__yczmo {
    padding-top: 38px;
  }
}
.freeBox__bqei {
  background: #0000001a;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-bottom: 1px;
  border-radius: 8px;
  padding: 0px;
}
.img__xqr6U {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__xqr6U > picture > img {
  object-fit: cover;
}
.img__xqr6U > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__vbVd8 {
  background: #0000001a;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  border-radius: 8px;
  padding: 8px;
}
.svg__cS9PL {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox__cuzE0 {
  display: flex;
  position: relative;
  flex-direction: column;
  background: var(--token-pL8y_AwGMX1d);
  padding: 30px 15px;
  border-bottom: 5px solid var(--token-Dx69yKCplk2F);
}
.freeBox__cuzE0 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.freeBox__cuzE0 > :global(.__wab_flex-container) > *,
.freeBox__cuzE0 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__cuzE0 > :global(.__wab_flex-container) > picture > img,
.freeBox__cuzE0
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.h3__mGlaz {
  margin-top: calc(0px + 10px) !important;
  color: var(--token-Dx69yKCplk2F);
}
.text__voJlr {
  padding-top: 0px;
  margin-bottom: 0px;
}
.freeBox__iKwUn {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 150px;
  height: auto;
  max-width: 100%;
  margin-top: calc(14px + 10px) !important;
  padding: 0px;
}
.button__zqj6S:global(.__wab_instance) {
  max-width: none;
}
.svg__t7XfJ {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__qvi57 {
  text-transform: uppercase;
  color: var(--token-pL8y_AwGMX1d);
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 14px;
}
.svg__cPuii {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.freeBox__fRnUk {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #eeeeee;
  min-width: 0;
  padding: 8px;
}
.freeBox__hqo7H {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  backdrop-filter: blur(0px);
  background: #7f7f80;
  min-width: 0;
  -webkit-backdrop-filter: blur(0px);
  padding: 56px 128px 66px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__hqo7H {
    width: 100%;
    min-width: 0;
    padding: 47px 20px 55px;
  }
}
.text__ySma6 {
  font-size: 20px;
  font-weight: 600;
  color: var(--token-Dx69yKCplk2F);
  text-align: center;
  text-transform: uppercase;
  line-height: 1.3;
  letter-spacing: 2px;
  max-width: none;
  width: 100%;
  background: none;
  min-width: 0;
  padding: 0px 0px 4px;
}
.h2__mn3S3 {
  max-width: none;
  width: 100%;
  background: none;
  margin-top: 0px;
  margin-bottom: 34px;
  text-align: center;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2__mn3S3 {
    font-size: 25px;
  }
}
.freeBox__pFqEe {
  display: flex;
  position: relative;
  left: auto;
  top: auto;
  max-width: 1080px;
  flex-direction: row;
}
.freeBox__pFqEe > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__pFqEe > :global(.__wab_flex-container) > *,
.freeBox__pFqEe > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pFqEe > :global(.__wab_flex-container) > picture > img,
.freeBox__pFqEe
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
  margin-top: 32px;
}
.img__au9Ox {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__au9Ox > picture > img {
  object-fit: cover;
}
.img__au9Ox > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__ocYyf {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__ocYyf > picture > img {
  object-fit: cover;
}
.img__ocYyf > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__bu1V0 {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__bu1V0 > picture > img {
  object-fit: cover;
}
.img__bu1V0 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__g11K {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__g11K > picture > img {
  object-fit: cover;
}
.img__g11K > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__oDWfF {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  max-width: 472px;
  margin-top: 49px;
  background: var(--token-rOZvTpahu);
  min-width: 0;
  padding: 30px;
  border-bottom: 6px solid var(--token-Dx69yKCplk2F);
}
.freeBox__oDWfF > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 3px);
  height: calc(100% + 3px);
}
.freeBox__oDWfF > :global(.__wab_flex-container) > *,
.freeBox__oDWfF > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__oDWfF > :global(.__wab_flex-container) > picture > img,
.freeBox__oDWfF
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 3px;
}
.img___4Grve {
  position: relative;
  left: auto;
  top: auto;
  width: 96px;
  height: 96px;
  flex-shrink: 0;
  border-radius: 50%;
}
.text__skm2L {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 464px;
  text-align: center;
  font-style: italic;
  font-size: 18px;
  margin-top: calc(9px + 3px) !important;
  color: #535353ba;
  min-width: 0;
}
.text__kiS {
  position: relative;
  font-size: 16px;
  color: #8e8e93;
  margin-top: calc(14px + 3px) !important;
  padding-bottom: 0px;
}
.text__rixDa {
  position: relative;
  font-size: 16px;
  color: #000000;
  margin-top: calc(0px + 3px) !important;
  font-family: "Roboto", sans-serif;
  padding-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}
.freeBox__zxWvY {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #eeeeee;
  min-width: 0;
  padding: 0px;
}
.freeBox___1YlpS {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  background: linear-gradient(#000000d1, #000000d1),
    url("./../hawking_web/images/december192019HubbleDeepFieldjpg.jpg") top 50% left 50% / cover no-repeat;
  min-width: 0;
  padding: 85px 64px 91px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___1YlpS {
    padding: 45px 30px 53px;
  }
}
.freeBox__sxsme {
  display: flex;
  position: relative;
  max-width: 960px;
  flex-direction: row;
  width: 100%;
  min-width: 0;
}
.freeBox__sxsme > :global(.__wab_flex-container) {
  flex-direction: row;
  min-width: 0;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
}
.freeBox__sxsme > :global(.__wab_flex-container) > *,
.freeBox__sxsme > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__sxsme > :global(.__wab_flex-container) > picture > img,
.freeBox__sxsme
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__sxsme {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__sxsme > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__sxsme > :global(.__wab_flex-container) > *,
  .freeBox__sxsme > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__sxsme > :global(.__wab_flex-container) > picture > img,
  .freeBox__sxsme
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 64px;
  }
}
.freeBox__aSlZa {
  display: flex;
  position: relative;
  flex-direction: column;
  top: auto;
  left: auto;
  width: 100%;
  height: 298px;
  padding-top: 0px;
  min-width: 0;
}
.freeBox__aSlZa > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__aSlZa > :global(.__wab_flex-container) > *,
.freeBox__aSlZa > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__aSlZa > :global(.__wab_flex-container) > picture > img,
.freeBox__aSlZa
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.imagotipoHawkinig {
  object-fit: contain;
  width: 192px;
  position: relative;
  align-self: flex-start;
  margin-right: 0px;
}
.imagotipoHawkinig > picture > img {
  object-fit: contain;
}
.imagotipoHawkinig > :global(.__wab_img-spacer) > img {
  object-fit: contain;
}
.freeBox__vrMeV {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__vrMeV > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__vrMeV > :global(.__wab_flex-container) > *,
.freeBox__vrMeV > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vrMeV > :global(.__wab_flex-container) > picture > img,
.freeBox__vrMeV
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__eFl2K {
  color: #ffffff;
  margin-top: calc(-47px + 16px) !important;
}
.freeBox__ujoZn {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__ujoZn > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__ujoZn > :global(.__wab_flex-container) > *,
.freeBox__ujoZn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ujoZn > :global(.__wab_flex-container) > picture > img,
.freeBox__ujoZn
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.svg__oj0YJ {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: var(--token-pL8y_AwGMX1d);
  flex-shrink: 0;
}
.svg__dyFxf {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: var(--token-pL8y_AwGMX1d);
  flex-shrink: 0;
}
.svg___9QQcd {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: var(--token-pL8y_AwGMX1d);
  flex-shrink: 0;
}
.freeBox__ebEm5 {
  display: flex;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  flex-direction: column;
  height: 254px;
  padding-bottom: 0px;
  margin-bottom: 42px;
  min-width: 0;
}
.freeBox__ebEm5 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__ebEm5 > :global(.__wab_flex-container) > *,
.freeBox__ebEm5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ebEm5 > :global(.__wab_flex-container) > picture > img,
.freeBox__ebEm5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.h3__w9U9J {
  position: relative;
  left: auto;
  top: auto;
  height: auto;
  padding-left: 0px;
  color: #e5dede;
}
.link__y0Q8 {
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 0px;
  border: 1px solid transparent;
}
.link__y0Q8 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__y0Q8 > :global(.__wab_flex-container) > *,
.link__y0Q8 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__y0Q8 > :global(.__wab_flex-container) > picture > img,
.link__y0Q8
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__i0X0S {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__gkSo9 {
  height: auto;
  color: var(--token-pL8y_AwGMX1d);
}
.svg__uvSxa {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.link__jMyIe {
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 0px;
  border: 1px solid transparent;
}
.link__jMyIe > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__jMyIe > :global(.__wab_flex-container) > *,
.link__jMyIe > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__jMyIe > :global(.__wab_flex-container) > picture > img,
.link__jMyIe
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg___0GGpa {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__nid6C {
  height: auto;
  color: var(--token-pL8y_AwGMX1d);
}
.svg__geMwt {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.link__afeGh {
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 0px;
  border: 1px solid transparent;
}
.link__afeGh > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__afeGh > :global(.__wab_flex-container) > *,
.link__afeGh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__afeGh > :global(.__wab_flex-container) > picture > img,
.link__afeGh
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg___7VM8J {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__qjGiC {
  height: auto;
  color: var(--token-pL8y_AwGMX1d);
}
.svg___0Twiz {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.freeBox__pp17X {
  display: flex;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  flex-direction: column;
  min-width: 0;
}
.freeBox__pp17X > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__pp17X > :global(.__wab_flex-container) > *,
.freeBox__pp17X > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pp17X > :global(.__wab_flex-container) > picture > img,
.freeBox__pp17X
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.h3__fy00E {
  position: relative;
  left: auto;
  top: auto;
  height: auto;
  color: var(--token-pL8y_AwGMX1d);
}
.link__u0CK5 {
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 0px;
  border: 1px solid transparent;
}
.link__u0CK5 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__u0CK5 > :global(.__wab_flex-container) > *,
.link__u0CK5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__u0CK5 > :global(.__wab_flex-container) > picture > img,
.link__u0CK5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__ywzqT {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__rdB9C {
  height: auto;
  color: var(--token-pL8y_AwGMX1d);
}
.svg__hzFuC {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.link__ywjbw {
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 0px;
  border: 1px solid transparent;
}
.link__ywjbw > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__ywjbw > :global(.__wab_flex-container) > *,
.link__ywjbw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__ywjbw > :global(.__wab_flex-container) > picture > img,
.link__ywjbw
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__lREh {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text___50Mf {
  height: auto;
  color: var(--token-pL8y_AwGMX1d);
}
.svg__olcnG {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.link___6F7Xh {
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 0px;
  border: 1px solid transparent;
}
.link___6F7Xh > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link___6F7Xh > :global(.__wab_flex-container) > *,
.link___6F7Xh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link___6F7Xh > :global(.__wab_flex-container) > picture > img,
.link___6F7Xh
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__yuNzA {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text___8LPK {
  height: auto;
  color: var(--token-pL8y_AwGMX1d);
}
.svg___4W7Dt {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.link__cdSk5 {
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 0px;
  border: 1px solid transparent;
}
.link__cdSk5 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__cdSk5 > :global(.__wab_flex-container) > *,
.link__cdSk5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__cdSk5 > :global(.__wab_flex-container) > picture > img,
.link__cdSk5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__i2U5J {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__fkRCz {
  height: auto;
  color: var(--token-pL8y_AwGMX1d);
}
.svg___4BSm5 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.freeBox__xpK1 {
  display: flex;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  flex-direction: column;
  margin-right: 0px;
  height: 278px;
  min-width: 0;
}
.freeBox__xpK1 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__xpK1 > :global(.__wab_flex-container) > *,
.freeBox__xpK1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xpK1 > :global(.__wab_flex-container) > picture > img,
.freeBox__xpK1
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.h3__fdZjx {
  position: relative;
  left: auto;
  top: auto;
  height: auto;
  color: var(--token-pL8y_AwGMX1d);
}
.text__h46Qz {
  position: relative;
  height: auto;
  color: var(--token-pL8y_AwGMX1d);
}
.text__vOeZd {
  position: relative;
  height: auto;
  color: var(--token-pL8y_AwGMX1d);
}
.mail {
  position: relative;
  height: auto;
  color: var(--token-pL8y_AwGMX1d);
  white-space: pre;
}
.text__yNzEo {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-pL8y_AwGMX1d);
  text-align: center;
  margin-top: 45px;
  min-width: 0;
}
